﻿@{
    ViewBag.Title = "Custumers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Vidly.Models.Custumer>


<h2>Custumers</h2>
@if (!Model.Any())
{
    <p>We dont have any custumers yet.</p>
}
else
{
<table class="table table-bordered table-hover">
    <thead>

        <tr>

            <th>Customer</th>
            <th>Discount Rate</th>

        </tr>

    </thead>
       <tbody>
        @foreach (var custumer in Model)
        {

            <tr>
                <td>@Html.ActionLink(custumer.Name, "Details", "Custumers", new { id = custumer.Id }, null)</td> 
                <td>@custumer.MembershipType.Name</td>
            
            </tr>


        }


    </tbody>

</table>
}
