﻿@model Vidly.Models.Movie

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Genre Name -  @Model.Genre.Name</li>
    <li>ReleaseDate -  @Model.ReleaseDate</li>
    <li>Date Added - @Model.DateAdded</li>
    <li>Number in Stock -  @Model.NumberInStock</li>
</ul>


