﻿@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    
Komentari na poveke liniiii

*@
@{ 
    var className = Model.Costumers.Count > 0 ? "popular" : null;
}
<h2 class="@className " >@Model.Movie.Name</h2>



@if (Model.Costumers.Count == 0)
{
    //Dokolku nema nieden costumer
    <p>No one has rented this movie before.</p>
}
else
{
    //Da gi izlista costumers
    <ul>
        @foreach (var costumer in Model.Costumers)
        {

            <li>@costumer.Name</li>
        }

    </ul>
}



